.App {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

.routes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

