@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navbar css */

.nav{
  position: fixed;
  width: 100%;
  height: 8vh;
  background-color: #ecf2f7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#reddit-logo{
  align-self: center;
  font-size: 2em;
  margin: 0.5em;
  font-family: 'Roboto Slab', serif;
}

#login{
  align-self: center;
  font-size: 1.3em;
  margin: 0.5em;
  font-family: 'Roboto Slab', serif;
}

a{
  text-decoration: none;
}

.nav button{
  padding: 5px 8px;
  border: 1px solid #ecf2f7;
  border-radius: 10px;
  background-color: rgb(105, 141, 240);
  font-size: 1em;
  margin-left: 5px;
  color: #fff;
}
.nav button:hover{
  background-color: rgb(183, 194, 224);
  color: rgb(80, 123, 241);
  cursor: pointer;
}


